/* CSS declarations go here */
body {
	background-image: linear-gradient(to bottom, #5EA5FF, #BED1FF 100%);
	background-attachment: fixed;
}

.layout-container {
	max-width: 50%;
	margin: 0 auto;
}

.content-container {
	padding: 0 30px;
}

.message-container {
	overflow: hidden;
	margin: 5px 0;	
}

.text-container {
	float: right;
	display: inline-block;
	font: 15px Helvetica;
	color: #3466ff;
	background: #84D1FF;
	border-radius: 8px;
	padding: 10px;
}