/* CSS declarations go here */
body {
	background-image: linear-gradient(to bottom, #5EA5FF, #BED1FF 100%);
	background-attachment: fixed;
}

.chat-container-wrapper h3 {
	font: 14px helvetica;
	color: #00527b;;
	text-align: center;
	margin: 5px auto;
	display: block;
	width: 25%;
	border-top: 1px solid #ededed;
	padding: 10px 30px;
}

.layout-container {
	max-width: 50%;
	margin: 0 auto;
}

.content-container {
	padding: 20px 30px;
}

.landing {
	font: 22px Helvetica;
	font-weight: bold;
	color: #3466ff;
	text-align: center;

	padding-top: 40px;
}	
