.chat-container {
	width: 93%;
	padding: 10px 0;
	margin: 0 auto;	
}

.chat-container-wrapper {
	height: 400px;
	overflow-x: hidden;
}

.chat-container-wrapper button {
	width: 25%;
	background: #bdd1ff;
	border: none;
	font: 10px Verdana;
	color: #004263;
	border-radius: 2px;
	margin: 0 auto;
	margin-bottom: 12px;
	padding: 3px;
	outline: 0;
	display: block;
	transition: all 0.3s;
}

.chat-container-wrapper button:hover {
	background: #ededed;
	cursor: pointer;
}

.chat-container-wrapper::-webkit-scrollbar {
	width: 8px;
}

.chat-container-wrapper::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #EDEDED;
}
