.header-container {
	height: 70px;
	padding: 0 10px;
}
.header-container:after {
	clear: both;
}

.nav {
	float: right;
	margin: 0;
	padding: 0;
}

.logo {
	font: 35px Helvetica;
	font-weight: bold;
	color: #EDEDED;
	text-decoration: none;
	line-height: 70px;
	display: inline-block;
}

.logo:hover {
	color: #FFFFFF;
	cursor: pointer;
}

.profile-redirect {
	font: 16px Helvetica;
	font-weight: bold;
	color: #EDEDED;
	text-decoration: none;
}

.profile-redirect:hover {
	color: #FFFFFF;
	cursor: pointer;
}

.nav li {
	line-height: 80px;
	display: inline;
	list-style: none;
}

#login-buttons {
	font: 16px Helvetica;
	font-weight: bold;
	color: #EDEDED;
	margin-left: 45px;
}

#login-buttons a {
	text-decoration: none;
}

#login-buttons:hover {
	color: #FFFFFF;
}