.message-container {
	overflow: hidden;
	margin: 5px 0;	
}

.username-wrap {
	font: 12px sans-serif;
	font-weight: bold;
	float: left;
	color: #004263;
	border-radius: 20px;
	margin-right: -1px;
	min-width: 40px;
	padding: 7px;
	text-align: center;
}

.username-wrap.authorOffline {
	border: 1px solid #bdd1ff;
}

.username-wrap.authorOnline {
	border: 1px solid #0ca200;
}

.username-wrap p {
	margin: 0;
	font: 9px sans-serif;
	text-align: right;
}

.username-wrap .p-online {
	color: #0ca200;
}

.username-wrap .p-offline {
	color: #bdd1ff;
}

.text-container {
	font: 15px Helvetica;
	color: #0c49ff;
	background: #bdd1ff;
	border-radius: 20px;
	padding: 6px 11px;
	display: table-cell;
	vertical-align: top;
}

.text-container p {
	color: #5987f7;
	font: 10px Helvetica;
	margin: 2px 0 0 0;
	text-align: right;
	padding-right: 10px;
}